@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.input {
    height: 20px;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-color: skyblue;
}

.button {
    background-color: skyblue;
    height: 30px;
    width: 100px;
    border-radius: 10px;

}

#error-message {
    color: red;
    margin-top: 10px;
}

#userForm {
    margin-top: 20px;
}

.space {
    text-align: center;
}

.space1 {
    text-align: center;
}

.head {
    text-align: center;
    color: skyblue;
    font-family: "Roboto";
}